body {
	margin: 0;
}

.content {
	padding: 10px;
	text-align: center;
}

.header {
	padding: 15px;
	font-family: 'Roboto', Arial;
	background-color: #4d4d4d;
	color: #80ffff;
	font-weight: bold;
	display: flex;
}

.header > div {
	width: 100%;
}

.links-header {
	text-align: right;

}

.link {
	text-decoration: none;
	margin: 5px;
	color: #80ffff;
}